
*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}


body{
    font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
    
	color: #1d1d1d;
    overflow: auto;
}


body::-webkit-scrollbar {
width: .5rem;
}

/* Track */
body::-webkit-scrollbar-track {
background: #1a1717ce;
}

/* Handle */
body::-webkit-scrollbar-thumb {
background: #6e0707;
}


.contenedor-principal{
    background-color: #0a0a0a;
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
}
.scroll-personal::-webkit-scrollbar {
width: .5rem;
}

/* Track */
.scroll-personal::-webkit-scrollbar-track {
background: #aeaeaece;
}

/* Handle */
.scroll-personal::-webkit-scrollbar-thumb {
background: #d7d7d7;
}

/* 
    movie-banner
    container
    movie-title
    movie-video
*/

.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    height: 100%;
    
}

.titulo{    
    font-family: 'Antonio', sans-serif;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
}

#section_1{
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    height: 52rem;
    background-color: #3d3d3d82;

}

#mainView_box_container{
    justify-content: left;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
    margin: 2rem;
    }

    #title_mainView{
        text-align: left;
        color: white;
        letter-spacing: .1rem;
    }

    #tagline{
        font-style: italic;
        text-align: left;
        width: 100%;
        margin: auto;
        padding-left:2rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        color: rgb(237, 52, 52);
    }

    #rating_mainView{
        width: 80%;
        height: 70%;
        background-color: #bbbbbb12;
        flex-wrap: wrap;
    }


    #rating_mainView h3{
        color: #f46e41;
        letter-spacing: .2rem;
    }
    #rating_mainView span{
        color: #fce287;
        padding: 3rem;
        width: 80%;
        border-bottom: #464646 .2rem solid;
        font-size: 6rem;
        color: #e59211;
    }
    #rating_mainView span::first-letter{

        font-size: 7.5rem;

    }

    #banner_content{
        width: 100%;
    }

    #banner_content img{
        width: 15rem;
        animation: floatAndRote 1.5s ease infinite;
    }



#mainMedia_box_container{
    width: 30%;
    height: 100%;
    background-color: transparent;
}

    #movie-banner{
        width: 90%;
        height: 100%;
        margin:auto;
        border-radius: 2rem;
        transition: all .4s ease;
    }
    
    #movie-banner:hover{
    transform: scale(1.04);
    }


#section_2{
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    height: max-content;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    height: 52rem;
    background-color: #e6dbdb;
}

    #overview_container{
        width: 50%;
        height: 100%;
        overflow: auto;
        
    }

    #overview{
        
        width: 90%;
        height: 50%;

        margin: 10%;
        font-size: 3rem;
        font-weight: 300;
        font-family: 'Comic Neue', cursive;
        color: rgb(54, 54, 54);
    }

    #trailer_container{
        width: 50%;
        height: 100%;
    }

    #trailer_container iframe{
        width: 100%;
        height: 100%;
    }

#section_3{
    width: 90%;
    height: 85vh;
    background-color: #4f4e4e;
    margin: 1rem auto;
    padding: 2rem;
    overflow: hidden;
    flex-wrap: wrap;
}

#section_3 h1{
    width: 100%;
    height: 10%;
}

.perfil_zone{
    width: 85%;
    height: 85%;
    margin: auto;
}

.cast_profile{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.9;
    transition: all .5s ease;
    height: 100%;
    flex-wrap: wrap;
}

.cast_profile:hover{
    cursor: pointer;
    width: 15rem;
    opacity: 1;
    filter: contrast(120%);
}

.cast_profile img{
    width: 100%;
    height:95%;
    margin: auto;
}

.cast_profile:hover h3{
    text-decoration: underline rgb(208, 30, 30) .5rem;
}

.cast_profile h3{
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-size: 2rem;
    transition: all ease .3s;
}

@keyframes floatAndRote {
    from,to{
        transform: translateY(0) scale(.50);
    }
    50%{
        transform: translateY(-5px) rotateY(180deg) scale(.50);
        
    }
}